* {
  box-sizing: border-box;
}
:root {
  --primary-color: #0f1b4c;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* =========== Common ============ */
a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 98px;
  border-radius: 12px;
  background: var(--primary-color);
  text-align: center;
  font-weight: 500;
  color: #fff;
  font-size: 1.3rem;
  padding: 18px 16px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.btn:hover {
  opacity: 0.9;
}

.content {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
/* ============== header =============== */

.header {
  background: #e6f0ff;
  height: 85vh;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  padding-top: 50px;
}

.navbar ul {
  display: flex;
  margin-left: 50px;
}

.navbar .actions {
  margin-left: auto;
}

.navbar ul a {
  font-size: 1.4rem;
  font-weight: 500;
  color: #4f5361;
  padding: 8px 1.4rem;
}
.navbar ul a:hover {
  text-decoration: underline;
}

.navbar .btn__signIn {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 500;
  margin-right: 18px;
}

.btn__signUp {
  padding: 13px 16px;
  font-size: 1.4rem;
}

.hero {
  margin-top: 13rem;
}

.hero .info {
  width: 51%;
}

.hero .sub__title {
  color: #687690;
  letter-spacing: 0.01em;
  font-size: 1.8rem;
  font-weight: 500;
}

.hero .title {
  color: #000336;
  font-weight: 700;
  margin-top: 8px;
  line-height: 7.6rem;
  font-size: 6.4rem;
}

.hero .desc {
  color: #5a6473;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.2rem;
  margin-top: 30px;
}

.hero .hero__cta {
  min-width: 170px;
  margin-top: 40px;
}

.hero__img {
  position: absolute;
  bottom: 0;
  right: calc((100vw - 1100px) / 2 - 100px);
}

/* =========== Clients ============ */
.clients {
  margin-top: 122px;
}

.clients .row,
.images {
  display: flex;
  justify-content: space-between;
}

.clients desc {
  color: #7d8589;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25;
}

.clients .images {
  margin-top: 96px;
}

.row-desc {
  margin-top: 23px;
}

/* =========== Guides ============ */

.guides {
  margin-top: 200px;
}
.guides .sub-title {
  text-align: center;
  position: relative;
  color: #000339;
  font-size: 3.5rem;
  font-weight: 600;
}

.guides .sub-title::before {
  content: "";
  display: inline-block;
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: #000339;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.guides .desc {
  color: #5a6473;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 20px auto 0;
  width: 459px;
}

.list_guide {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.guide_item {
  margin: 0 70px;
  text-align: center;
}

.guide_item .title {
  color: #3b3c45;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 26px;
}

.guide_item .link {
  color: #0689ff;
  font-weight: 600;
  font-size: 1.4rem;
  margin-top: 10px;
  display: inline-block;
}

.guide_item .arrow-right {
  margin-left: 2px;
}

.guide-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.guide-cta .btn {
  border-radius: 12px;
  font-size: 1.3rem;
}
